.App {
  height: 80%;
  width: 100%;
  text-align: center;
  min-width: 350px;
}

html, body { height: 100%; width: 100%; margin: 0; background-color: darkGrey; }
input:focus, textarea:focus, select:focus{
  outline: none;
}
.error{
  color: red;
  font-size: 18px;
}