a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 40px;
    text-decoration: none;
    margin: 5px;
}

html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}
.error{
    color: red;
    font-size: 12px;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.mynav{
margin-bottom: 10px;
text-align: center;
height: 70px;
width: 100%;
display: flex;
margin: auto;
}
#nav-cont{
    margin: auto;
}
