.picker{
    margin: auto !important;
    margin-bottom: 10px !important;
    left: 110px;
    bottom: 45px;
    position: fixed;
    z-index: 10;
}
.circle{
    margin: auto !important;
    position: relative;
    left: 110px;
    bottom: 45px;
    margin-bottom: 10px !important;
    height: 25px;
    width: 25px;
    margin-bottom:5px;
    border: 3px solid grey;
    border-radius:50%;
}